{% extends 'accounts/base.html' %}
{% load static %}

{% block dashboard %}
<h1>Welcome {{ request.user.first_name }} {{ request.user.last_name }}!</h1>

<div class="row">
    <div class="col-12 col-md-4 my-1 px-3 my-md-1">
        <div class="card bg-dark text-white text-center p-3">
            <figure class="mb-0">
                <blockquote class="blockquote">
                <p>Total News</p>
                <small>{{ total_news }}</small>
                </blockquote>
            </figure>
        </div>
    </div>
    <div class="col-12 col-md-4 my-1 px-3 my-md-1">
        <div class="card bg-dark text-white text-center p-3">
            <figure class="mb-0">
                <blockquote class="blockquote">
                <p>Total Categories</p>
                <small>{{ total_categories }}</small>
                </blockquote>
            </figure>
        </div>
    </div>
    <div class="col-12 col-md-4 my-1 px-3 my-md-1">
        <div class="card bg-dark text-white text-center p-3">
            <figure class="mb-0">
                <blockquote class="blockquote">
                <p>Today's visits</p>
                <small>{{ total_views }}</small>
                </blockquote>
            </figure>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-12">
        <canvas id="line-chart" width="800" height="450"></canvas>
    </div>
</div>

<hr />

<div class="row py-3 mt-3">
    <div class="col-12 text-center">
        <p class="fw-bold">Copyright &copy; 2021</p>
        <small class="text-muted">an Aakash Basnet Production</small>
    </div>
</div>

{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    new Chart(document.getElementById('line-chart'), {
        type: 'line',
        data: {
            labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
            datasets: [
                {
                    data: {{ views_list }},
                    label: 'Monthly Visits',
                    borderColor: '#3e95cd',
                    fill: false,
                },
            ],
        },
        options: {
            title: {
            display: true,
            text: 'Monthly NewsPortal Traffic',
            },
        },
    });
</script>
{% endblock extrajs %}

{% endblock dashboard %}