{% extends 'main/base.html' %}

{% block news_list %}
    {% for post in posts %}
        {% comment %} <div class="card mb-3">
            <img src="{{ post.post_img.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{ post.title }}</h5>
                <p class="card-text text-black-50">{{ post.desc|truncatechars:150 }}</p>
                <a href="{{ post.get_absolute_url }}"><small>Read more...</small></a>
                <p class="card-text"><small class="text-muted">{{ post.date_posted }}</small></p>
            </div>
        </div> {% endcomment %}
        <h1>Hello</h1>
        {{object}}
    {% endfor %}
{% endblock news_list %}